#gallery {
  width: 1000px;
  max-width: 1000px;
  background-color: var(--dark-gray);
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
}

#gallery-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  margin: 0 auto;
  width: 950px;
  max-width: 950px;
  box-sizing: border-box;
}

.gallery-item-box {
  border-radius: 5px;
  width: 180px;
  max-height: 155px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  background-color: var(--mid-gray);

  img {
    display: block;
    margin: auto;
    width: 170px;
    max-height: 130px;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
  }

  label {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 95%;
    background-color: var(--light-blue);
    padding-left: 5%;
  }

  &:hover label {
    background-color: var(--mid-blue);
  }
}
