#header-holder {
  background: var(--dark-gray);
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  height: 60px;
  box-sizing: border-box;
  width: 1000px;

  margin: 0 auto;


  a, button {
    text-decoration: none;
    color: white;
  }
}

.user-block {
  display: flex;
  align-content: center;
}

#header-user {
  // background: white;
  display: flex;
  flex-direction: column;
  padding-left: 5px;

  a, button{
    color: white;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;

    &:hover {
      background: var(--light-blue);
      border-radius: 10px;
    }
  }
}

#header-navigation {
  display: flex;
  font-family: sans-serif;
  padding-right: 1%;

  button {
    color: var(--light-blue);
  }

  button:hover {
    color: var(--mid-blue);
  }

  button:disabled {
    color: var(--off-gray);
  }
}

#header-session-links {

  a, button{
    color: white;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;

    &:hover {
      background: var(--light-blue);
      border-radius: 10px;
    }
  }

}
