#header {
  display: flex;
  justify-content: space-between;
  background: var(--dark-gray);
  padding: 1%;
  height: 50px;
  box-sizing: border-box;
  width: 1000px;
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 9;

  a, button {
    text-decoration: none;
    color: white;
  }

  div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.user-block {
  display: flex;
  align-content: center;
}

#header-user {
  // background: white;
  display: flex;
  flex-direction: column;
  padding-left: 5px;

  button {
      color: white;

  }
}

#header-navigation {
  display: flex;
  font-family: sans-serif;
  padding-right: 1%;
}

#header-session-links {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 14px;

  a {
    color: white;
    padding: 3px;

    &:hover {
      background: gray;
      padding: 3px;
      border-radius: 10px;
    }

    &:first-child {
      margin-right: 5px;
    }
  }
}
