#header {
  display: flex;
  justify-content: space-between;
  background: var(--dark-gray);
  padding: 1%;
  height: 60px;
  box-sizing: border-box;
  width: 1000px;
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 9;

  a, button {
    text-decoration: none;
    color: white;
  }
}

.user-block {
  display: flex;
  align-content: center;
}

#header-user {
  // background: white;
  display: flex;
  flex-direction: column;
  padding-left: 5px;

  button {
      color: white;

  }
}

#header-navigation {
  display: flex;
  font-family: sans-serif;
  padding-right: 1%;

  button {
    color: var(--light-blue);
  }

  button:hover {
    color: var(--mid-blue);
  }

  button:disabled {
    color: var(--off-gray);
  }
}

#header-session-links {
  position: absolute;
  top: 35%;
  right: 1%;
  font-size: 14px;

  a {
    color: white;
    padding: 3px;

    &:hover {
      background: gray;
      padding: 3px;
      border-radius: 10px;
    }

    &:first-child {
      margin-right: 5px;
    }
  }
}
