html {
  list-style: none;
}

form {
  max-width: 25%;
  margin: 0 auto;
}

.button-link {
  background: aqua;
  padding: 1%;
  margin: 1%;
}

#form-button {
  text-align: center;
}

#header{
  border: 1px solid black;
  padding: 0 2% 0 2%;
  display: flex;
  justify-content: space-between;
}

#header-navigation {

  background: gray;
}

#header-session-links{
  position: absolute;
}
#header-session-links form {
  position: relative;
  right: 5%;
}
