html {
  --off-gray: #a4aab2;
  --mid-gray: #70747a;
  --dark-gray: #40484f;
  --light-blue: #7EB6FF;

  /* actual attributes */
  background: #121212;
}

main {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main section {
  position: absolute;
  top: 200px;
  display: block;
}

.button-link {
  color: white;
  padding: 2%;
  margin: 1%;
  font-size: 24px;
  padding-right: 10px;

  &:hover {
    background: gray;
    border-radius: 10px;
  }
}
