html {
  --off-gray: #a4aab2;
  --mid-gray: #70747a;
  --dark-gray: #40484f;
  // normal fill:
    --light-blue: #7EB6FF;
  // hover fill:
    --mid-blue: #0099ff;
  --dark-blue: #1f6dd1;
  --bg: #121212;

  /* actual attributes */
  background: var(--bg);
}
html * {
  font-family: 'PT Sans', sans-serif;
}

pre {
  font-family: monospace;
  white-space: pre;
}

#modules {
  width: 1000px;
  margin: 0 auto;
  margin-top: 75px;
}

.button-link {
  color: white;
  margin: 1%;
  font-size: 24px;
  padding: 2px 5px 5px 5px;
  margin-right: 5px;

  &:hover {
    background: var(--mid-blue);
    border-radius: 10px;
  }
}

.filler {
  height: 40px;
  background-color: var(--bg);
  width: 750px;
  top: 50px;
  position: fixed;
  z-index: 8;
}

.bg-hider {
  // backdrop to match background color
  background-color: var(--bg);
  width: 750px;
  height: 100%;
  top: 0;
  z-index: -1;
}

.icons-outline {
  color: white;
}
.icons-block {
  font-size: 30px;

  &:hover {
    color: var(--light-blue);
  }
}

.hidden {
  display: none;
}

.flexed {
  display: flex;
  justify-content: space-between;
}

.delete-btn{
  padding: 5px;
  margin-right: 10px;
  font-size: 14px;

  &:hover {
    background-color: var(--mid-blue);
  }
}
