
#session-form {
  margin: 0 auto;
  margin-top: 10%;
  max-width: 30%;

  #input-fields {
    // table
    background: var(--dark-gray);
    border-radius: 5px;
    padding: 10px;
    table-layout: auto;
    width: 100%;

    input {
      border-radius: 5px;
      padding: 5px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  td {
    color: var(--off-gray);
  }

  h3 {
    color: white;
    margin-left: 12px;
  }

  #field-username input, .signup-field-password input {
    width: 95%;
  }

  #field-password input {
    width: 70%;
  }


  #forgot-login {
    background: var(--mid-gray);
    height: 100%;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
  }
}

#form-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;

  a {
    font-size: 14px;
    padding: 5px 0 5px 5px;
    margin-right: 10px;
  }

  button {
    color: white;
    background: var(--light-blue);

    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
  }

  button:disabled {
    background: var(--off-gray);
  }
}
